.container{
    margin-top: 60px;
    padding-top: 10px;
}

.containerFiltros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}



.imagemFiltro{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(195,212, 233, 0.4);
}

.buttoFilter{
    background: #3563E9;
    border-radius: 999px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 15px;
    border: none; 
}

.buttonFilterAlerta{
    background-color: white;
    color: orange;
    font-weight: bold;
}

.containerReclamacoes{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
}

.containerReclamacao {
    display: flex;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border: 2px solid red;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.infosReclamacao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.infosDentroReclamacao{
    display: flex;
    flex-direction: column;
}

.infosDentroReclamacaoBaixo{
    display: flex;
    flex-direction: row;
}

.tituloReclamacao{
    font-size: 16px;
    font-weight: 600;
}

.categoriaReclamacao{
    color: #90A3BF;
    font-size: 14px;
    font-weight: 500;
}

.statusReclamacao{
    font-size: 16px;
    font-weight: 600;
}

.dataReclamacao{
    font-size: 12px;
    color: #90A3BF;
}
.containerLike {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
}

.numberLike{
    font-size: 14px;
    color: #90A3BF;
    font-weight: 'bold';
}

.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error{
    border: 0.5px solid red;
}

.inputError{
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 5px;
}